body {
    margin: 0px;
}

header {
    
}

main {
}

footer {
    
}

nav {
    font-family: Verdana, Geneva, sans-serif;
}

nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
    border-bottom: solid 1px;
    position: fixed;
    top: 0px;
    background-color: white;
}

nav ul li {
    float: left;
    padding: 15px;
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    padding-left: 5px;
    padding-right: 5px;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.column-2 {
    float: left;
    width: 50%;
}

.column-3 {
    float: left;
    width: 33.3%;
}