body {
    margin: 0px;
}

header {
    
}

main {
    
}

footer {
    bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-top: solid 1px;
}

nav {
    font-family: Verdana, Geneva, sans-serif;
}

nav ul {
    display: table;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    list-style-type: none;
    border-bottom: solid 1px;
}

nav ul li {
    float: left;
    padding: 15px;
    color: black;
    text-decoration: none;
}

nav ul li:hover {
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
    padding-left: 5px;
    padding-right: 5px;
    font-family: Georgia, serif;
}

p {
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

code {
    font-family: Consolas, monospace;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

samp {
    font-family: Consolas, monospace;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.column {
    float: left;
    min-width: 300px;
}

.column::after {
    content: "";
    display: block;
    clear: both;
}

.column-2 {
    width: 50%;
}

.column-3 {
    width: 33.3%;
}

.column-4 {
    width: 25%;
}

.column-5 {
    width: 20%;
}
